.git
dec
_build
cover
deps
doc
test
tmp
erl_crash.dump
*.ez
.nvmrc
README.md

apps/frontend/node_modules

# test directories
apps/mse_web/priv/static
apps/db/test
apps/graph/test
apps/mse_web/test
apps/mtgio/test
