<div class="react-root" data-component="SetList"></div>

<%# <ul> %>
<%#   <%= for set <- @sets do %1> %>
<%#     <li> %>
<%#       <%= link to: set_path(@conn, :show, set) do %1> %>
<%#         <i class="ss ss-2x ss-<%= set.mtgio_id |> String.downcase %1>"></i> %>
<%#         <span><%= "[#{set.mtgio_id}] #{set.name}" %1></span> %>
<%#       <% end %1> %>
<%#     </li> %>
<%#   <% end %1> %>
<%# </ul> %>
